<h1>Edit <%= @tadpole.name %></h1>
<%= form_for(@tadpole) do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, placeholder: @tadpole.name %><br />
  <%= f.label :color, "Color" %>
  <%= f.text_field :color, placeholder: @tadpole.color %><br />
  <%= f.submit %>
<% end %>

<%= link_to "Cancel", tadpoles_path %>