<h1>Create a new pond</h1>
<%= form_for(@pond) do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><br />
  <%= f.label :water_type, "Water Type" %>
  <%= f.text_field :water_type %>
  <%= f.submit %>
<% end %>
<%= link_to "Cancel", ponds_path %>