<h1>Create a new frog</h1>
<%= form_for(@frog) do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, placeholder: @frog.name %><br />
  <%= f.label :color, "Color" %>
  <%= f.text_field :color, placeholder: @frog.color %>
  <%= f.label :lives, "Lives" %>
  <select id="lives" name="frog[pond_id]">
    <% @ponds.each do |pond| %>
      <option value="<%= pond.id %>"><%= pond.name %></option>
    <% end %>
  </select><br />
  <%= f.submit %>
<% end %>
<%= link_to "Cancel", frogs_path %>